<!-- Following Menu -->
<div id="topmenu" class="ui large top fixed hidden menu">
  <div class="ui container">

    <a id="topmenu_home" class="active item" href="/">Home</a>
    <a id="topmenu_whatis" class="item">What is BumpMail?</a>
    <a class="item">About Us</a>
    <a class="item">Contact</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item" href="/">Home</a>
  <a class="item">What is BumpMail?</a>
  <a class="item">About Us</a>
  <a class="item">Contact</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>
