<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">What is BumpMail?</a>
        <a class="item">About Us</a>
        <a class="item">Contact</a>
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        BumpMail
      </h1>
      <h2>Push your conversations. Anywhere.</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>
  <div class="ui vertical raised segment">
    <div class="ui stackable grid container">
        <div class="four wide column iconbar"><img class="ui small image" src="./images/email.svg" /><div class="text">Get Email</div></div>
        <div class="four wide column iconbar"><img class="ui small image" src="./images/click.svg" /><div class="text">Push BumpMail</div></div>
        <div class="four wide column iconbar"><img class="ui small image" src="./images/workflow.svg" /><div class="text">Start Workflow</div></div>
        <div class="four wide column iconbar"><img class="ui small image" src="./images/celebrate.svg" /><div class="text">Win</div></div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Connect to the systems you need</h3>
          <p>Your work and your email often don't live in the same place. Take advantage of the power of the cloud to bump your
            mail into wherever you need it to be - like Wunderlist tasks, Visual Studio tasks, and more.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">See Our Connectors</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Leveraging the Azure Cloud</h3>
      <p>Workflows and integrations are powered entirely by Azure Logic Apps - bringing you fast, reliable, and scalable workflows.</p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Examples</a>
      </h4>
      <h3 class="ui header">Create Visual Studio Items from Mail</h3>
      <p>In one click create and send details of mail items directly into Visual Studio. Works when reading mail from web, Outlook,
        or mobile.</p>
      <a class="ui large button">Try it out</a>
    </div>
  </div>
</div>